.point {
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);

  border-width: 2px;
  border-style: solid;
  border-color: fade-out(white, 0.8);
  border-radius: 50%;
  text-shadow: 1px 1px 0 black;

  &:hover {
    border-color: fade-out(white, 0.5);
  }

  &.cursor {
    border-color: fade-out(black, 0.8);
    pointer-events: none;
  }

  &.active {
    border-color: fade-out(yellow, 0.5);
    z-index: 9999;
  }
}
